$brand-primary: hsl(243, 87%, 12%);
$brand-primary-desat: hsl(238, 22%, 44%);
$brand-primary-accent: hsl(224, 93%, 58%);
$brand-secondary-accent: hsl(170, 45%, 43%);
$brand-neutral-primary: hsl(240, 75%, 98%);
$brand-neutral-secondary: hsl(0, 0%, 75%);

$font-headings: "Raleway", Helvetica, Arial, sans-serif;
$font-body: "Open Sans", Helvetica, Arial, sans-serif;
